name: "Build"

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install deps
        run: sudo apt-get install bison flex libreadline-dev tcl-dev libffi-dev

      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Install OSS-Cad-Suite
        uses: YosysHQ/setup-oss-cad-suite@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: docker run --rm -it -v $(pwd):/work -v /home/runner/work/_temp/oss-cad-suite:/tabby yosyshq/plugin_build_x64:22.04 make

      - name: Test
        run: make test
